version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: sentiment-postgres
    environment:
      POSTGRES_USER: sentiment_user
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: sentiment_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sentiment_user"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data



  redis:
    image: redis:7
    container_name: sentiment-redis
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: sentiment-backend
    env_file:
      - .env.example
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: sentiment-worker
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env


  ingester:
    build: ./ingester
    container_name: sentiment-ingester
    env_file:
      - .env.example
    depends_on:
      redis:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: sentiment-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
  redis_data:
